@font-face{
	font-family:"Euro Caps";
	src:url("/fonts/EUROCAPS.TTF") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Sintony";
	src:url("/fonts/Sintony-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Sintony";
	src:url("/fonts/Sintony-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:regular;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Sintony, Courier New, Courier, monospace;
}
#body {
	width: 100%;
	max-width: 775px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}
#holobox {
	padding: 0;
	background-color: orange;
	flex: auto;
	overflow: auto;
}
div {
	padding: 10px;
}
.download {
	display: inline-block;
	box-sizing: border-box;
	padding: 0px 20px;
}
#header {
	font-family: Euro Caps, Courier New, Courier, monospace;
	margin: 0;
}
.question {
	font-family: Euro Caps, Courier New, Courier, monospace;
}