@font-face{
	font-family:"Euro Caps";
	src:url("/fonts/EUROCAPS.TTF") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Sintony";
	src:url("/fonts/Sintony-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Sintony";
	src:url("/fonts/Sintony-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:regular;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Sintony, Courier New, Courier, monospace;
	background-position: center;
	background-size: cover;
	margin: 0;
	height: auto;
	background-attachment: fixed;
}
#centerbody {
	width: 100%;
	max-width: 800px;
	min-width: 400px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
}
#body {
	width: 100%;
	padding: 20px;
	min-width: 400px;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin: auto;
}
#centerboxbound {
	padding: 0;
	color: #ff7100;
	flex: auto;
	overflow: auto;
	position: relative;
}
#boxbound {
	padding: 0;
	color: #ff7100;
	overflow: auto;
	position: relative;
}
#holobox {
	height: calc(100% - 26px);
	width: calc(100% - 26px);
	margin: 13px;
	filter: blur(8px);
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("bg/Holobars.png");
	z-index: -1;
}
#holoboxcontent {
	padding: 10px 20px;
}
div {
	padding: 10px;
}
.download {
	display: inline-block;
	box-sizing: border-box;
	padding: 0px 20px;
}
.inlineblock {
	display: inline-block;
	box-sizing: border-box;
}
.links {
	text-align: center;
}
#header {
	font-family: Euro Caps, Courier New, Courier, monospace;
	margin: 0;
	background-color: #ff7100;
	color: black;
}
.question {
	font-family: Euro Caps, Courier New, Courier, monospace;
	background-color: #ff7100;
	color: black;
}
a {
	border: 1px solid #ff7100;
	color: #ff7100;
	background-color: transparent;
	text-decoration: none;
	transition: color 0.1s, background-color 0.1s;
}
a:hover {
	color: black;
	background-color: #ff7100;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ff7100;
	background-color: black;
	border-top: medium solid #ff7100;
}
.floatl {
	float: left;
}
.floatr {
	float: right;
}
.floatwithrightpad {
	padding-right: 10px;
}
.pics {
	text-align: center;
}
.picblock {
	width: 100%;
	box-sizing: border-box;
	max-width: 500px;
	display: inline-block;
}
img {
	width: 100%;
}